body {
    font-family: Arial, sans-serif;
    background: #E5EEE4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #F6F4E8;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tipo {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 10px 0;
}

.tipo label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.select-tipo {
    width: 90%;
    max-width: 250px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #DC9B9B;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #DC9B9B;
}

.cadastro {
    margin-top: 15px;
}

.cadastro a {
    text-decoration: none;
    color: #DC9B9B;
    font-size: 14px;
}

.cadastro a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
    list-style: none !important;
    padding-left: 0;
}

.btn-voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #DC9B9B;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.btn-voltar:hover {
    background: #c47f7f;
}