body {
    font-family: Arial, sans-serif;
    background: #E5EEE4;
    height: 100vh;
}

.navbar-custom {
    background-color: #DC9B9B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-custom{
    background-color: #DC9B9B;
}

.dropdown-menu {
    list-style: none !important;
    padding-left: 0;
}