<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="form-container">
    <h2>Escolha o Cadastro</h2>
    <form action="cadastroCliente.php" method="POST">
        <button type="submit">Cliente</button>
    </form>

    <form action="cadastroFornecedor.php" method="POST">
        <button type="submit">Fornecedor</button>
    </form>

    
    <div class="cadastro">
        <p>Já tem uma conta?</p>
        <a href="login1.php">Fazer Login</a>
    </div>
</body>
</html>